<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yidong.mapper.BannerMapper" >
  <select id="selectAll" resultType="Banner">
    SELECT * FROM tb_banner
  </select>
  <delete id="delete">
    DELETE FROM tb_banner where imgAddress=#{imgAddress}
  </delete>
  <insert id="add">
    INSERT INTO tb_banner VALUES
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.imgAddress}

      )
    </foreach>
     </insert>
</mapper>