<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yidong.mapper.OrderformGoodsMapper" >
  <select id="selectByOrderformId"  resultMap="OrderformGoods">
    SELECT * FROM tb_orderform_goods where orderformId=#{id}
  </select>
  <resultMap id="OrderformGoods" type="OrderformGoods">
    <id property="id" column="id"></id>
    <collection  column="id" property="modelList" select="yidong.mapper.OrderformModelMapper.selectByOrderformId"></collection>
  </resultMap>

  <update id="updateState" >
    UPDATE tb_orderform_goods set state=1
    where
    code IN
    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
      #{item.code}
    </foreach>
  </update>

  <update id="changeState" >
    UPDATE tb_orderform_goods set state=1
    where
     orderformId IN
    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
      #{item.id}
    </foreach>
  </update>

  <select id="checkState" resultType="int">
    SELECT state FROM tb_orderform_goods where orderformId=#{orderformId}
  </select>
</mapper>