<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yidong.mapper.OrderformExpressMapper" >

  <select id="selectByOrderformId" resultType="Express">
    SELECT * FROM tb_express where orderformId=#{id}
  </select>
  <insert id="addExpress" parameterType="Express">
    INSERT INTO tb_express(delivery,expressNumber,expressCompany,orderformId,goodsName,code,goodsNum,goodsPrice)VALUE

    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{delivery.delivery},#{delivery.expressNumber},#{delivery.expressCompany},#{orderformId},#{item.goodsName},#{item.code},
      #{item.goodsNum,jdbcType=INTEGER},#{item.goodsPrice,jdbcType=INTEGER}
      )
    </foreach>

  </insert>
</mapper>