<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yidong.mapper.PriceModelMapper" >
  <insert id="addModle" >
    INSERT into tb_price_model (priceId,smallModelId)VALUES
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.priceId,jdbcType=INTEGER},#{item.smallModelId,jdbcType=INTEGER}

      )
    </foreach>
  </insert>

  <select id="selectById" resultType="PriceModel" resultMap="selectName">
    SELECT * FROM tb_price_model WHERE priceId=#{id}
  </select>
  <resultMap id="selectName" type="PriceModel">
    <id column="smallModelId" property="smallModelId"></id>
    <collection column="smallModelId" property="name" select="yidong.mapper.SmallModelMapper.selectName"></collection>
  </resultMap>

  <select id="selectBySmall" resultType="int">
    SELECT priceId FROM tb_price_model where smallModelId=#{smallModelId}
  </select>

  <delete id="deleteById">
    DELETE FROM tb_price_model where priceId=#{id}
  </delete>
</mapper>