<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yidong.mapper.RetailMapper" >
  <select id="getCount" resultType="int">
    SELECT COUNT(*) FROM tb_retail where userId=#{openId}
  </select>
  <select id="getCreateTime" parameterType="String" resultType="String">
    SELECT time FROM tb_retail where userId=#{openId} ORDER by time DESC limit 0,1
  </select>
  <select id="getMoney" resultType="Integer">
    SELECT sum(sum) FROM  tb_retail where userId=#{openId}
  </select>
  <select id="getDay" resultType="String">
   select sum(sum) from tb_retail where  DATE_FORMAT(time,'%Y-%m-%d')= DATE_FORMAT(#{time},'%Y-%m-%d')
  </select>

  <select id="getWeek" resultType="String">
    select sum(sum) from tb_retail where YEARWEEK(DATE_FORMAT(time,'%Y-%m-%d'))=YEARWEEK(#{time})
  </select>

  <select id="getMonth" resultType="String">
    select sum(sum) from tb_retail where  DATE_FORMAT(time,'%Y-%m')= DATE_FORMAT(#{time},'%Y-%m')
  </select>

  <select id="selectRetail" resultType="Retail">
    SELECT * FROM tb_retail
     <where>
       time BETWEEN #{start} AND #{end}
      <if test="schoolName!=null">
      AND schoolName=#{schoolName}
     </if>
    </where>
   limit #{begin},#{over}
  </select>

  <select id="selectCount" resultType="int">
    SELECT COUNT(*) FROM tb_retail where time BETWEEN #{start} AND #{end}

  </select>
</mapper>