<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yidong.mapper.SchoolMapper" >
  <select id="selectAll" resultType="School">
    SELECT * FROM tb_school
  </select>
  <insert id="addSchoolName">
    INSERT INTO tb_school VALUES (#{schoolName})
  </insert>
</mapper>